{% assign bg_path = include.background | default: "/assets/img/hero/abby-gregor-hero.jpg" %}
{% assign h = include.height | default: "300px" %}

<!-- UBC Hero Section -->
<div id="ubc7-hero" class="row-fluid "
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ bg_path | relative_url }}'); height: {{ h }};">
    <div class="container">
        <div class="hero-image">
            <div class="hero-text">
                <h1>{{ include.text }}</h1>
                {% if include.subtext %}
                <p>{{include.subtext}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- End of UBC Hero Section -->