/* Hero editable CSS */

/** Hero Section background color **/
#ubc7-hero {
    background: #264E6A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-text {
    max-width: 650px;
}

.hero-text h1 {
    font-weight: bolder;
    font-family: 'Whitney';
    color: white;
}

.hero-text p {
    color: white;
    font-size: large;
    font-weight: bold;
}