.nav {
  padding-left: 0;
}


// Hover dropdown taken from: https://www.w3schools.com/howto/howto_css_dropdown.asp

.subnav-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.subnav-dropdown a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

li a:hover {
  background-color: $ubc-blue;
  color: white;
}

.top-level {
  display: inline-flex;
  align-items: center;
}

/* Gotta do this thing to get the arrow to stick appear
   vertically centred in a nav item.  */
.nav .ubc7-arrow {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-left: 3px;
}

/* For narrow-view, sub-items are exposed but indented */
.sub-item {
  display: block;
  padding-left: 30px;
}

/* For full-view, sub-items are hidden
    and hover drop-downs are shown */
@media (min-width: 980px) {

  .sub-item {
    display: none;
  }

  li:hover .subnav-dropdown {
    display: block;
  }

}

// .navbar a {
//   text-decoration: none;
// }


// .header-divider {
//   width: 50%;
//   clear: both;
//   margin: 5rem auto 2rem;
//   border-width: 0.2rem;
//   border-color: $ubc-blue;
// }
// #author-name {
//   font-size: 30px;
//   color: #272727;
//   display: inline-block;
// }


// //
// // Navbar
// //


// // .navbar {
// //   padding: 2rem 0;
// //   @media (min-width: 500px) {
// //     display: flex;

// //     justify-content: space-between;
// //   }
// // }

// @media (min-width: 500px) {


//   .navbar-ul {
//     display: flex;
//     // flex: 1 1 auto;
//   }
//   .nav-list {
//     display: inline-block;
//     // flex: 1 1 auto;
//   }
// }


// .navbar::after {
//   content: '';
//   display: table;
//   clear: both;
// }

// .navbar-ul {
//   display: inline-block;
//   margin: 0;
//   padding: 5px 0 5px 0;
//   margin-left: 20px;
// }
// .nav-list {
//   list-style-type: none;
//   margin: 0 1rem 0 0;
// }

// @media (min-width: 500px) {
//   .nav-list:not(:last-child)::after {
//     content: '/';
//     display: inline-block;
//     margin-left: .5rem;
//     color: $gray-lighter;
//   }
// }



// @media (max-width: 650px) {
//   .container {
//     max-width: 83%;
//   }
//   .navbar-ul {
//     margin-top: 5px;
//   }
// }

// @media (max-width: 500px) {
//   // .navbar {
//   //   text-align: center;
//   //   padding: 50px 0px 0px 0px;
//   // }
//   #author-name {
//     width: 100%;
//   }
//   #navlist {
//     padding: 10px 0 10px 0;
//     margin: 0;
//     display: block;
//     text-align: center;
//     width: 100%;
//   }
//   #navlist li {
//     display: inline-block;
//   }
//   #navlist li.nav-list {
//     margin: 0;
//   }
// }